@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}


.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: 0;
}

@media (max-width: 640px) {
  #buttons {
    display: flex;
    flex-direction: column;
  }
}
